/*body{overflow-y:hidden}*/
#wrap {position:relative;width:100%}

#container{position:absolute;left:0;top:0}
#container article{position:relative;overflow:hidden}
#container article .scroll{position:absolute;left:50%;bottom:0;margin-left:-25px;animation:bounce 1s ease infinite;-webkit-animation:bounce 1s ease infinite}

#cont1{background:url(../../images/bg_main.jpg) no-repeat;background-size:100% auto}
#cont1 ul{position:relative;width:1065px;height:869px;background:url(../../images/bg_tiles.png) no-repeat;margin:0 auto/*background-size:55% auto*/}
#cont1 ul li a{position:absolute;display:block;width:130px;height:60px;color:#fff;font-size:20px;text-align:center;padding-top:70px}
#cont1 ul li a:hover{color:#e83a93}
#cont1 ul li.m1 a{left:440px;bottom:130px;background:url(../../images/bg_menu1.png) no-repeat 50% 0}
#cont1 ul li.m2 a{left:318px;top:250px;background:url(../../images/bg_menu2.png) no-repeat 50% 0}
#cont1 ul li.m3 a{left:80px;top:250px;background:url(../../images/bg_menu3.png) no-repeat 50% 0}
#cont1 ul li.m4 a{right:372px;bottom:246px;height:70px;background:url(../../images/bg_menu4.png) no-repeat 50% 0;padding-top:60px}
#header{width:100%;height:90px;position:relative;background-color:#383838;opacity:0.95;z-index:10;color:#fff;line-height:90px}
#header.scroll_fix{position:fixed;left:0;right:0;top:0;z-index:10}
#header h1{float:left;width:170px;padding:10px 0 0 70px}
#header ul{float:right;width:600px}
#header ul li{display:inline-block;*display:inline;zoom:1;}
#header ul li a{display:block;color:#fff;font-size:18px;margin-left:50px}
#cont2 h2,#cont4 h2,#cont5 h2{margin:120px 0 80px;text-align:center}
#cont2{overflow:hidden}
#cont2 .about{float:left;width:560px;margin-left:20%}
#cont2 .about dt{font-family: 'NanumBarunGothicBold';color:#5a5350;font-size:31px;line-height:30px;text-align:center}
#cont2 .about dt p{font-size:14px}
#cont2 .about dd{margin-top:50px}
#cont2 .about dd ul li{border-bottom:1px solid #ddd;color:#686868;font-size:15px;line-height:32px}
#cont2 .about dd ul li strong{background:url(../../images/bul_arrow.jpg) no-repeat 0 4px;padding-left:15px;margin-right:4px;font-family:'NanumBarunGothicBold';color:#272727}
#cont2 .about dd ul li p{padding-left:15px}
#cont2 .about dd ul li a{color:#e75041}
#cont2 .photo{position:absolute;right:18%;top:290px}
#cont3{background-color:#fafafa}
#cont3 h2{margin:140px 0 46px;text-align:center}
#cont3 > p{text-align:center}
#cont3 ul{width:1360px;margin:115px auto 0;overflow:hidden;text-align:center}
#cont3 ul li{float:left;width:380px;height:365px;background-color:#fff;border-radius:10px;box-shadow:0 2px 2px rgba(184,184,184,.3);border-bottom:1px solid #d5d5d5;margin-right:105px}
#cont3 ul li.last{margin-right:0}
#cont3 ul li img{margin:52px 0 42px}
#cont3 ul li dl dt{color:#252525;font-size:22px;line-height:24px}
#cont3 ul li dl dt p{font-size:18px}
#cont3 ul li dl dd{color:#686868;line-height:24px;font-size:16px;margin:20px 20px 0;text-align:justify}
#cont4 .bxslider{height:520px;text-align:center;/*border:1px solid red*/}
#cont4 .bxslider li div{display:inline-block;*display:inline;zoom:1;width:370px;height:520px;border:1px solid #e3e3e3;border-radius:2px;box-shadow:0 2px 2px rgba(184,184,184,.3);margin:0 40px;vertical-align:middle}
.bxslider > li div img{display:inline-block;margin-top:30px}
.bxslider > li div .txt_pf{padding:30px 20px 0}
.bxslider > li div .txt_pf li{text-align:left;color:#686868;line-height:28px}
.bxslider > li div .txt_pf li span{color:#272727;font-family: 'NanumBarunGothicBold'}
.bxslider > li div .txt_pf li p{border-radius:10px;background-color:#e75041;color:#fff;height:25px;line-height:25px;padding-left:12px}
.bxslider > li div .txt_pf li a{text-decoration:underline;color:#1c62d5}
#cont5{background:url(../../images/bg_contact.jpg) no-repeat 0 100%;background-size:100% auto}
#cont5 footer{position:absolute;left:0;bottom:0;width:100%;height:60px;line-height:60px;background-color:#fff;opacity:0.80;color:#777;text-align:center}
#cont5 form{text-align:right;margin-right:21%}
#cont5 form input.inp_ck,#cont5 form textarea{width:380px;height:72px;line-height:72px;opacity:0.30;color:#fff;padding-left:16px;border:0}
#cont5 form textarea{height:210px;line-height:25px;padding-top:26px}
#cont5 form .inp_nm{background:#444 url(../../images/tx_name.png) 16px 26px no-repeat;margin-bottom:18px}
#cont5 form .inp_em{background:#444 url(../../images/tx_email.png) 16px 26px no-repeat;margin-bottom:18px}
#cont5 form .inp_ms{background:#444 url(../../images/tx_msg.png) 16px 26px no-repeat;margin-bottom:30px}
#cont5 form .tx_yes{background:#444 none}
#cont5 form input[type="submit"]{width:130px;height:48px;background:url(../../images/btn_submit.jpg) no-repeat;border:0;cursor:pointer}

@media all and (max-width:1400px) {
    #cont1 {
        background: url(../../images/bg_main.jpg) no-repeat 0
    }

    #cont1 ul {
        width: 860px;
        height: 640px;
        background-size: 760px auto
    }

    #cont1 ul li a {
        font-size: 17px;
        padding-top: 65px
    }

    #cont1 ul li.m1 a {
        left: 296px;
        bottom: 89px
    }

    #cont1 ul li.m2 a {
        left: 210px;
        top: 168px
    }

    #cont1 ul li.m3 a {
        left: 37px;
        top: 170px
    }

    #cont1 ul li.m4 a {
        right: 350px;
        bottom: 169px
    }

    #cont2 h2, #cont4 h2, #cont5 h2 {
        margin: 140px 0 60px;
        text-align: center
    }

    #cont2 h2 img, #cont3 h2 img, #cont4 h2 img, #cont5 h2 img {
        height: 42px
    }

    #cont2 .about dt {
        display: none
    }

    #cont2 .about dd {
        margin-top: 0
    }

    #cont2 .about dd ul li {
        font-size: 13px;
        line-height: 26px
    }

    #cont2 .photo {
        position: absolute;
        right: 18%;
        top: 230px
    }

    #cont2 .photo img {
        width: 200px;
        height: auto
    }

    #cont3 > p img {
        height: 52px
    }

    #cont3 ul {
        width: 1222px;
        margin: 55px auto 0
    }

    #cont3 ul li {
        width: 370px;
        height: 275px;
        margin-right: 55px
    }

    #cont3 ul li img {
        margin: 40px 0 20px
    }

    #cont3 ul li dl dt {
        font-size: 20px;
        line-height: 24px
    }

    #cont3 ul li dl dt p {
        font-size: 16px
    }

    #cont3 ul li dl dd {
        line-height: 20px;
        font-size: 13px;
        margin: 12px 20px 0
    }

    #cont4 .bx-viewport {
        height: 345px !important
    }

    #cont4 .bxslider {
        height: 345px !important
    }

    #cont4 .bxslider li div {
        width: 280px;
        height: 340px
    }

    #cont4 .bxslider > li div img {
        width: 70%;
        margin-top: 10px
    }

    #cont4 .bxslider > li div .txt_pf {
        padding: 10px 20px 0
    }

    #cont4 .bxslider > li div .txt_pf li {
        line-height: 23px;
        font-size: 13px
    }

    #cont5 footer {
        height: 40px;
        font-size: 12px;
        line-height: 45px
    }

    #cont5 form input.inp_ck {
        height: 32px;
        line-height: 32px
    }

    #cont5 form .inp_nm {
        background: #444 url(../../images/tx_name.png) 16px 9px no-repeat;
        margin-bottom: 18px
    }

    #cont5 form .inp_em {
        background: #444 url(../../images/tx_email.png) 16px 9px no-repeat;
        margin-bottom: 18px
    }

    #cont5 form .inp_ms {
        background: #444 url(../../images/tx_msg.png) 16px 9px no-repeat;
        margin-bottom: 20px
    }

    #cont5 form .tx_yes {
        background: #444 none
    }

    #cont5 form textarea {
        height: 140px
    }

}



@-webkit-keyframes bounce{
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce{
 0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
